@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: radial-gradient(50% 50% at 50% 50%, #f2b4e1 30.91%, #6b00b6 100%);

  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 64px;
  background: rgba(0, 0, 0, 0.75);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(0, 0, 0, 0.75);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(0, 0, 0, 0.75);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  align-items: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #fff;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 70px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;

  padding: 42px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/main.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title-img {
  width: 347.19px;
  height: 262.85px;
}
.home-title {
  font-family: Luckiest Guy;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  -webkit-text-stroke: 2px rgba(238, 238, 238, 1);
  color: rgba(255, 5, 243, 1);
  padding: 31px 0;
}

.home-text {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.home__google-button_image {
  width: 340px;
}
@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;

    padding: 102px 563px 55px 133px;
    background-image: url("/image/home/main\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title-img {
    width: 400px;
    height: 303px;
  }
  .home-title {
    font-family: Luckiest Guy;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 633px;
  }

  .home-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 791px;
  }
}
.about {
  padding: 0px 16px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Luckiest Guy;
  font-size: 48px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-img {
  width: 375px;
  height: 400px;
  margin-left: -16px;
}
.about-text {
  padding-top: 28px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-text-bold {
  font-family: Luckiest Guy;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 28px 0 0;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 0px 88px;
    margin: auto;
    width: 1440px;
  }
  .about-div {
    display: flex;
    align-items: center;
  }
  .about-title {
    font-family: Luckiest Guy;
    font-size: 48px;
    font-weight: 400;
    line-height: 68.64px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .about-img {
    width: 461.61px;
    height: 513.3px;

    margin-left: 0px;
  }
  .about-text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }
}

.reviews {
  width: 375px;

  margin: auto;
  padding: 67px 0px 36px;
}

.reviews-list {
  width: auto;
  padding-top: 90px;
  padding-bottom: 37px;
  margin: auto;
}
.reviews-item {
  margin: 0 5px;
  width: 355px;
  height: 315px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/image/2.png");
}

.reviews-text-bold {
  font-family: Luckiest Guy;
  font-size: 22px;
  font-weight: 400;
  line-height: 45.76px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 40px;
  padding-right: 20px;
  color: #ffffff;
}
.reviews-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  padding: 40px 70px 0 30px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(100, 18, 236, 1);
}
.reviews-image {
  margin: auto;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;

    margin: auto;
    padding: 0px 0px 80px;
  }
}

.gallery {
  width: 375px;

  margin: auto;
  padding: 65px 0px;
}

.gallery__list {
  width: auto;
  padding-bottom: 44px;

  margin: auto;
}
.gallery__item {
  width: 370px;
  height: 492px;

  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;

    margin: auto;
    padding: 62px 0;
  }

  .gallery__item {
    width: 522px;
    height: 696px;
    margin: 0 10px;
    overflow: hidden;
    position: relative;
  }
}
.features {
  width: 375px;
  height: 1811px;
  margin: auto;
  padding: 30px 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/features/Advantages.png");
}

.features-list {
  padding-top: 37px;
  margin: auto;
  display: flex;
  flex-direction: column;

  gap: 24px;
}
.features-item {
  width: 340px;
  height: 306px;
  background: rgba(255, 239, 161, 1);
  padding: 32px;
  border-radius: 15px;
}
.features-item-two {
  margin-top: 400px;
}
.features-text-bold {
  font-family: Luckiest Guy;
  font-size: 22px;
  font-weight: 400;
  line-height: 45.76px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(100, 18, 236, 1);
}
.features-text {
  color: rgba(100, 18, 236, 1);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 34.32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 995px;
    margin: auto;
    padding: 57px 0 0 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/features/Advantages\ \(1\).png");
  }

  .features-list {
    padding-top: 87px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .features-item {
    width: 454px;
    height: 256px;
    background: rgba(255, 239, 161, 1);
    padding: 32px;
    border-radius: 15px;
  }
  .features-item-two {
    margin-top: 0px;
    margin-left: 200px;
  }
  .features-text-bold {
    font-family: Luckiest Guy;
    font-size: 32px;
    font-weight: 400;
    line-height: 45.76px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .features-text {
    padding-top: 27px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.52px;
    letter-spacing: -0.02em;

    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/footer/footer.png");
  width: 375px;
  height: 430px;
  margin: auto;
  color: #ffffff;
  padding: 58px 16px 49px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 35px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: end;

  gap: 39px;
}
.footer-text {
  font-family: Luckiest Guy;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(26, 234, 255, 1);
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 168px 199px 0;
    width: 1440px;
    height: 380px;
    background-image: url("/image/footer/footer\ \(1\).png");
  }
  .footer-container {
    gap: 62px;
  }

  .footer-wrapper {
    gap: 39px;
  }
  .footer-text {
    font-family: Luckiest Guy;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  padding: 107px 20px;
  width: 375px;
  margin: auto;
}
.policy-terms-title {
  font-family: Luckiest Guy;
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 239, 161, 1);
  text-transform: uppercase;
}

.policy-terms-text {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 186px 80px 116px;
    width: 1440px;
  }
  .policy-terms-title {
    font-family: Luckiest Guy;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-text-one {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
